html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
  max-width: 1920px;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 130, 130, 0.9)), to(rgba(241, 218, 138, 0.9))), url("/images/eagle.jpg");
  background-image: linear-gradient(to bottom, rgba(233, 130, 130, 0.9), rgba(241, 218, 138, 0.9)), url("/images/eagle.jpg");
  background-size: cover;
  height: 1000px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.navigation__logo {
  font-size: 30px;
  font-weight: 700;
}

.logo {
  color: #ffffff;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-size: 14px;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.navigation__link--current {
  color: #E8D28B;
}

.navigation__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -14px;
  left: 0;
  background-color: #E8D28B;
}

.navigation__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-cart {
  margin-left: 50px;
  fill: #ffffff;
  cursor: pointer;
}

.magnifying-glass {
  margin-left: 35px;
  fill: #ffffff;
  cursor: pointer;
}

.block {
  text-align: center;
  padding-top: 140px;
}

.block__title {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
}

.block__text {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 120px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 0.9;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 32px;
  background-color: inherit;
  font-size: 14px;
  outline: 3px solid #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.layout {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.layout__block {
  text-align: center;
  position: relative;
}

.layout__block__title {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  padding-top: 45px;
}

.layout__block__text {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-top: 20px;
  text-transform: uppercase;
}

.layout__block__text::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -40px;
  left: 570px;
  background-color: #f38181;
}

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 110px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section__item {
  width: calc((100% - 65px) / 4);
  margin-right: 65px;
  margin-bottom: 90px;
  display: -webkit-box;
}

.section__item-svg {
  fill: #95e1d3;
}

.section__item-wrap {
  margin-left: 30px;
}

.section__item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section__item-text {
  font-size: 15px;
  color: #999999;
}

.section__part {
  text-align: center;
}

.section__part__title {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
}

.section__part__text {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}

.section__part__text::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -40px;
  left: 570px;
  background-color: #f38181;
}

.section__part__description {
  font-size: 15px;
  color: #999999;
  margin-top: 90px;
  line-height: 1.6;
}

.section__part__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 86px;
}

.card {
  margin-right: 30px;
  margin-bottom: 82px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  position: relative;
}

.card:last-child {
  margin-right: 0;
}

.card__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__profession {
  font-size: 15px;
  font-style: italic;
  color: #999999;
  opacity: 0.8;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 406px;
  left: 190px;
  opacity: 0;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(241, 218, 138, 0.9)), to(rgba(233, 130, 130, 0.9)));
  background-image: linear-gradient(to top left, rgba(241, 218, 138, 0.9), rgba(233, 130, 130, 0.9));
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .social-network,
.card:focus .social-network {
  cursor: pointer;
  width: 100%;
  height: 86%;
  margin: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 3;
  top: 460px;
  left: -10px;
  opacity: 0.9;
}

.social-network__link {
  padding: 15px;
  background-color: #FCE38A;
  margin-left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #f38181;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 65px;
  left: 0;
  background-color: #999999;
  opacity: 0.4;
}

.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 25px 0;
}

.footer__text--select {
  color: #f38181;
}

.submit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit__mail {
  width: 230px;
  padding: 12px;
  font-weight: 100;
  font-size: 15px;
  font-style: italic;
  color: #999999;
  opacity: 0.4;
}

.submit__button {
  background-color: #95e1d3;
  padding: 14px 34px;
}
/*# sourceMappingURL=main.css.map */