$white: #ffffff;
$item-title-gray: #333333;
$primary-color: #999999;
$svg-green: #95e1d3;
$rgba-red: rgba(233, 130, 130, 0.9);
$rgba-yellow: rgba(241, 218, 138, 0.9);
$text-select: #f38181;
$link-color: #E8D28B;
